.emailinput {
  margin-top: 20px;
}

.passwordinput {
  margin-top: 20px;
}

.confirmpasswordinput {
  margin-top: 20px;
}

.picupload {
  margin-top: 20px;
}

.registerbutton {
  margin-top: 35px;
}

.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.preferencestitle {
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.allergylabel {
  margin-top: 20px;
}

.dietinput {
  margin-top: 20px;
}
.dietlabel {
  margin-top: 20px;
}

.nameinput .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
}

.emailinput .control-label2:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
}

.passwordinput .control-label3:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
}

.confirmpasswordinput .control-label4:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
}
