.menu {
  margin-left: 770px;
}

.headerlogin {
  margin-left: 300px;
}

a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  color: #fe3d71;
  transition: 0.5s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1000px) {
  .menu {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .headerlogin {
    margin-left: 0px;
  }
}